# Ignorar archivos de bibliotecas de terceros (CSS, JS, etc.)
*.min.css linguist-vendored
*.min.js linguist-vendored
node_modules/* linguist-vendored

# Ignorar archivos de compilación de C o C++
build/* linguist-vendored
*.o linguist-vendored
*.out linguist-vendored
*.exe linguist-vendored
Makefile linguist-vendored
*.mk linguist-vendored
*.cmake linguist-vendored

# Ignorar archivos de configuración y metadatos
*.md linguist-documentation
*.yml linguist-vendored
*.json linguist-vendored
*.lock linguist-vendored

# Marcar archivos de documentación para que no afecten las estadísticas
docs/* linguist-documentation
README.md linguist-documentation

# Asegurar que los lenguajes clave sean representados correctamente
*.py linguist-language=Python
*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.css linguist-language=CSS
