/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #00ff00;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #1c1c1c;
    padding: 1rem;
    width: 100%; /* Asegurar que ocupe todo el ancho */
    display: flex;
    justify-content: center; /* Centrar el contenido */
    align-items: center;
}

.header-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

header nav a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header nav a:hover {
    background-color: #00ff00;
    color: #1a1a1a;
}

/* Main Grid para el contenido */
main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
    grid-template-rows: auto auto auto;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}
/* Ajustes responsivos */
@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas medianas o más grandes */
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}
/* Encabezados */
h1, h2, h3, h4 {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

label {
    font-size: 1em;
    color: #00cc00;
}

input[type="file"] {
    display: none;
}

select, button {
    background-color: #262626;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px;
    font-size: 0.7em;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

button {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #00ff00;
    color: #1a1a1a;
    transform: scale(1.05);
}

/* Opción */
option {
    background-color: #262626;
    color: #00ff00;
    padding: 10px;
    font-size: 0.9em;
}

/* Texto preformateado */
pre {
    background-color: #262626;
    color: #00ff00;
    padding: 20px;
    border: 1px solid #00ff00;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
    font-size: 1.1em;
}

/* Enlaces */
a {
    color: #00ff00;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
    color: #00cc00;
}

/* Animación para efecto hacker */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

h1::after {
    content: '|';
    animation: blink 1s infinite;
    color: #00ff00;
}

/* Sección de reportes */
.reports {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: start;
    overflow-y: auto;
}

/* Console Section */
.console-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.console-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.console-form label {
    margin-right: 10px;
    font-weight: bold;
    color: #ffffff;
}

.console-form input[type="text"] {
    width: 400px;
    padding: 0.5rem;
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #ff4757;
    border-radius: 5px;
}

.console-form button {
    padding: 0.5rem 1rem;
    background-color: #ff4757;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.console-form button:hover {
    background-color: #ff6b81;
}

.console-output {
    background-color: #000000;
    color: #00ff00;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
}

/* Estilo para agrandar el botón */
#uploadBtn, #AnalyzerBtn {
    font-size: 1.5em;
    padding: 15px 30px;
    background-color: #262626;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

#uploadBtn:hover, #AnalyzerBtn:hover {
    background-color: #00ff00;
    color: #1a1a1a;
    transform: scale(1.1);
}

/* Seleccionar el elemento con id "identifier y script" */
#identifier, #script {
    font-size: 1em;
    padding: 10px;
    border: 2px solid #00ff00;
    background-color: #262626;
    color: #00ff00;
    border-radius: 5px;
}

/* Estilo para la etiqueta de nota */
.note-label {
    font-size: 0.8em;
    color: #b4b2b2;
    font-style: italic;
    display: block;
    margin-bottom: 5px;
}

/* Estilo para centrar el contenedor y agregar espacio */
.analyze {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilo para el contenedor device-status */
.device-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.device-status label, .device-status p {
    font-size: 1em;
    color: #ffffff;
    margin: 0 10px;
}

.connected {
    color: #00ff00 !important;
}

.disconnected {
    color: red !important;
}

/* Estilo para la lista desordenada (ul) */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #262626;
    border: 1px solid #00ff00;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #00ff00;
    color: #00ff00;
    font-size: 1em;
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    color: #00ff00;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #00cc00;
}

/* Footer */
footer {
    background-color: #1c1c1c;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #ffffff;
    position: relative; /* Cambiado a 'relative' para evitar que se superponga */
    bottom: 0;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Cambiar a una columna */
        grid-template-rows: auto; /* Asegura que cada sección se apile verticalmente */
    }

    .reports {
        grid-column: 1; /* Colocarlo en la primera columna para apilarlo */
        grid-row: auto; /* Colocarlo después de las otras secciones automáticamente */
        width: 100%;
    }

    .analyze {
        width: 100%;
    }
    
    .device-status {
        width: 100%;
    }
    .console-form {
        display: flex;
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinear al inicio */
        width: 100%; /* Ocupar todo el ancho */
    }

    .console-form label, .console-form select, .console-form button {
        width: 100%; /* Asegurar que los elementos ocupen todo el ancho */
    }

    .console-form select {
        margin-top: 5px; /* Espacio entre el label y el select */
    }

    .console-form label{
        font-size: 15px
    }
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 1200px) {
    .main-grid {
        grid-template-columns: 1fr; /* Cambiar a una columna para pantallas pequeñas */
        grid-template-rows: auto; /* Ajustar filas automáticamente */
    }

    .reports {
        grid-column: 1; /* Mantén todo en una sola columna */
        grid-row: auto;
        width: 100%; /* Asegurar que ocupe el ancho completo */
    }
    h2{
        font-size: 1.2em;
    }
    .console-form {
        flex-direction: column; /* Cambia la disposición del formulario a columna */
        align-items: flex-start; /* Alinea al inicio */
        width: 100%; /* Asegurar que el formulario ocupe el ancho completo */
    }

    .console-form label, .console-form select, .console-form button {
        width: 100%; /* Asegura que los elementos ocupen todo el ancho */
        margin-bottom: 10px; /* Añade espacio entre los elementos */
    }
}