<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container header-grid">
            <nav aria-label="Main navigation">
                <a href="{{ url_for('routes.index') }}" aria-label="Static Analyzer">Análisis Estático</a>
                <a href="{{ url_for('routes.dynamic_analyzer') }}" aria-label="Dynamic Analyzer">Análisis Dinámico</a>
            </nav>
        </div>
    </header>

    <main class="main-grid">

        <section class="container analyze">
            <form action="/run_dynamic_analysis" method="post">
                <button  id="AnalyzerBtn" type="submit">Ejecutar Análisis Dinámico</button>
                
                <select id="identifier" name="identifier" required>
                    {% for name, identifier in apps %}
                        <option value="{{ identifier | e }}">{{ name | e }} ({{ identifier | e }})</option>
                    {% endfor %}
                </select>
                <label class="note-label">Selecciona la aplicación</label>
                <!--
                <label class="note-label">Scripts (Opcional) </label>
                 <select id="script" name="script">
                    {% for script in scripts %}
                        <option value="{{ script | e }}">{{ script | e }}</option>
                    {% endfor %}
                </select> -->
            </form>
        </section>
        
        <section class="container device-status">
            <label>Estado del dispositivo: </label>
            <p class="{% if device_connected %}connected{% else %}disconnected{% endif %}">
                {% if device_connected %}Dispositivo conectado{% else %}Dispositivo no conectado{% endif %}
            </p>
        </section>

        <section class="container reports">
            <h2>Reportes de Análisis Dinámicos</h2>
            <ul aria-live="polite">
                {% for file in dynamic_reports %}
                    <li><a href="{{ url_for('routes.view_report', filename='dynamic/' ~ file) }}" target="_blank">{{ file | e }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>©2024 MASVS Resilience Test Tool v1.0 - Yamil La Barrera</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>