<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASVS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container header-grid">
            <nav aria-label="Main navigation">
                <a href="{{ url_for('routes.index') }}" aria-label="Static Analyzer">Análisis Estático</a>
                <a href="{{ url_for('routes.dynamic_analyzer') }}" aria-label="Dynamic Analyzer">Análisis Dinámico</a>
            </nav>
        </div>
    </header>

    <main class="main-grid">
        <section class="container analyze">
            <div class="upload">
                <form id="uploadForm" action="/run_test/masvs_resilience_ios.py" method="post" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" accept=".ipa,.apk" hidden>
                    <button type="button" id="uploadBtn"> Ejecutar Análisis Estático </button>
                    <label for="file" class="note-label">Elija un binario IPA o APK</label>
                </form>
            </div>
        </section>

        <section class="container reports">
            <h2>Reportes de Análisis Estáticos</h2>
            <ul aria-live="polite">
                {% for file in static_reports %}
                    <li><a href="{{ url_for('routes.view_report', filename='static/' ~ file) }}" target="_blank">{{ file | e }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>©2024 MASVS Resilience Test Tool v1.0 - Yamil La Barrera</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>