<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas MASVS-Resilience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Binario cargado: {{ filename }}</h1>
    </header>
    
    <main>
        <section>
            <h2>Ejecutar pruebas MASVS-Resilience:</h2>
            <ul>
                <li><a href="/run_test/resilience_1.py?filename={{ filename }}">Ejecutar Test 1</a></li>
                <li><a href="/run_test/resilience_2.py?filename={{ filename }}">Ejecutar Test 2</a></li>
                <li><a href="/run_test/resilience_3.py?filename={{ filename }}">Ejecutar Test 3</a></li>
                <li><a href="/run_test/resilience_4.py?filename={{ filename }}">Ejecutar Test 4</a></li>
            </ul>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2023 Pruebas MASVS-Resilience</p>
    </footer>
</body>
</html>